<div class="p-3 m-3">
  <h1 class="title">Public APIs For Testing</h1>
  <ng-container *ngIf="isLoading;else showTable">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary " role="status">
        <span class="sr-only"></span>
      </div>
      <h2>Loading Data... </h2>
    </div>
  </ng-container>

  <ng-template #showTable>
    <app-demo-table
      [tableRows]="tableRows"
      [tableHeaders]="tableHeaders">
    </app-demo-table>
  </ng-template>
</div>


<router-outlet />

